<div id="<%= dom_id recipe %>">
  <p>
    <strong>Recipe name:</strong>
    <%= recipe.recipe_name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= recipe.image %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= recipe.desc %>
  </p>

  <p>
    <strong>Ingredient qty:</strong>
    <%= recipe.ingredient_qty %>
  </p>

  <p>
    <strong>Instructions:</strong>
    <%= recipe.instructions %>
  </p>

  <p>
    <strong>Servings:</strong>
    <%= recipe.servings %>
  </p>

</div>
